body {
    background-color: black;
   
}

.clock {
    position: absolute;
    color: #FD841F;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    background-color: #EEEEEE;
    height: 160px;
    width: 600px;
    text-align: center;
    padding-top: 55px;
    border-style: double;
    border: 10px double;
    border-color: blueviolet;
  
}